/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/


.coin-slider { overflow:hidden; zoom:1; position:relative;}
.coin-slider a{ text-decoration:none; outline:none; border:none;}

.cs-buttons { font-size:0px; margin:0; padding:10px; float:left;}
.cs-buttons a { margin-left:2px; width:15px; height:15px; float:left; background:url(images/slide_p.png) no-repeat left top; color:#fff; text-indent:-1000px;}
.cs-buttons a.cs-active { background:url(images/slide_a.png) no-repeat left top; color:#fff;}

.cs-title { float:left; width:930px; padding:15px 20px; color:#fff; font-size:20px; line-height:1em;}
.cs-title small { display:block;  width:auto;  padding:0; font-size:12px; line-height:1.8em;}

.cs-prev, 
.cs-next { color:#fff; padding:5px 15px; font-size:16px;}
