/*Horizontal Navigation*/
#hornav .inside {padding: 0 5px;}
#hornav
{ width:100%;
  height:40px;
  float:left;
  background: url(../images/nav-bg.gif) repeat-x;
  margin:0;
  border-top: 2px solid #249CD0;
  overflow:hidden;
}

#hornav ul
{ list-style-type:none;
  text-align:left;
  float:left;
  margin:0;
  padding:0; }

#hornav ul li
{ float:left;
  border:none;
  height:40px;
  line-height:40px;
  margin:0;
  padding:0; }

#hornav ul li a
{
text-transform:uppercase;
text-decoration:none;
line-height:40px;
color:#999999;
margin-right:2px;
padding:0 20px;
font-family:Tahoma, arial, helvetica, sans serif;
font-size:10px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
text-transform:uppercase;
display:block; 
}

#hornav ul li.active a
{  background: url(../images/nav-h.gif) repeat-x;
  color:#fff; }

#hornav ul li a:hover
{ background: url(../images/nav-h.gif) repeat-x;
  color:#fff; }

/*Level 2*/
#hornav ul ul
{ position:absolute;
  width:180px;
  left:-999em;
  z-index:99;
  margin:0; }

#hornav ul ul li
{ float:left;
  border:none;
  height:30px;
  line-height:30px;
  width:180px;
  margin:0;
  padding:0; }

#hornav ul ul li a,#hornav ul ul li a:visited,#hornav ul ul li a:active,#hornav ul ul li a:link
{
  margin:0;
  height:30px;
  line-height:30px;
  background:#E5E5E5;
	color:#666;
	font-weight:bold;
	text-transform:uppercase;
	margin:0;
	border:1px solid #F3F2F2;
	border-bottom: 1px solid #C9C7C7;}

#hornav ul ul li a:hover
{ background:#F3F2F2;
  color:#249CD0; }

#hornav ul ul li.active a
{ background:#F3F2F2;
  color:#249CD0; }

/*Level 3*/
#hornav ul ul ul
{ margin:-30px 0 0 180px;
  z-index:99; }

#hornav ul ul ul li
{ float:left;
  width:180px;
  border:none;
  height:30px;
  line-height:30px;
  margin:0;
  padding:0;
  }

#hornav ul ul ul li a,#hornav ul ul ul li a:visited,#hornav ul ul ul li a:active,#hornav ul ul ul li a:link
{
   background:#E5E5E5;
	color:#666; }

#hornav ul ul ul li a:hover
{ background:#F3F2F2;
  color:#249CD0; }

#hornav ul ul ul li.active a
{ background:#F3F2F2;
  color:#249CD0; }

/*Level 4*/

#hornav ul ul ul ul li a,#hornav ul ul ul ul li a:visited,#hornav ul ul ul ul li a:active,#hornav ul ul ul ul li a:link
{ 
  background:#E5E5E5;
	color:#666;
}

#hornav ul ul ul ul li a:hover
{ background:#F3F2F2;
  color:#249CD0; }

#hornav ul ul ul ul li.active a
{ background:#F3F2F2;
  color:#249CD0; }

/*Level 5*/

#hornav ul ul ul ul ul li a,#hornav ul ul ul ul ul li a:visited,#hornav ul ul ul ul ul li a:active,#hornav ul ul ul ul ul li a:link
{ 
  background:#E5E5E5;
	color:#666;
 }

#hornav ul ul ul ul ul li a:hover
{ background:#F3F2F2;
  color:#249CD0; }

#hornav ul ul ul ul ul li.active a
{ background:#F3F2F2;
  color:#249CD0; }

#hornav li:hover ul ul,#hornav li:hover ul ul ul,#hornav li:hover ul ul ul ul,#hornav li:hover ul ul ul ul ul,#hornav li:hover ul ul ul ul ul ul,#hornav li.sfhover ul ul,#hornav li.sfhover ul ul ul,#hornav li.sfhover ul ul ul ul,#hornav li.sfhover ul ul ul ul ul,#hornav li.sfhover ul ul ul ul ul ul
{ left:-999em; }

#hornav li:hover ul,#hornav li li:hover ul,#hornav li li li:hover ul,#hornav li li li li:hover ul,#hornav li li li li li:hover ul,#hornav li li li li li li:hover ul,#hornav li.sfhover ul,#hornav li li.sfhover ul,#hornav li li li.sfhover ul,#hornav li li li li.sfhover ul,#hornav li li li li li.sfhover ul,#hornav li li li li li li.sfhover ul
{ left:auto; }


/*Top Navigation*/
#top-menu {
width: auto; height: auto; float: right; margin-right: 20px;
}
#top-menu .moduletable h3{display:none}
#top-menu .moduletable{margin:0;padding:0}
#top-menu ul{list-style-type:none;text-align:left;float:left;margin:0;padding:0}
#top-menu li{float:left;border:none;margin:0;padding:0}
#top-menu a{font-size:10px;text-decoration:none;color:#808080;margin:0;padding:0 8px;}
#top-menu a:hover,#top-menu li.active a{color:#333}
/*Footer Navigation*/
#footer-nav .moduletable h3{display:none}
#footer-nav .moduletable{margin:0;padding:0}
#footer-nav ul{list-style-type:none;text-align:center;padding:0;margin:0 0 5px 0}
#footer-nav li{background:none;padding:0;display:inline}
#footer-nav a{text-align:center;font-size:11px;font-weight:bold;text-decoration:none;color:#7b0404;display:inline;margin:0;padding:0 8px}
#footer-nav li a:hover,#footer-nav li.active a{color:#610202;background: none;}

/*Testing of New modules*/
.module {
	margin: 0;
}
.module .inside{padding: 5px 10px 15px 10px;}
.module h3 {
display:block;
font-size:13px;
color:#59B5EB;
margin:0 0 0 0;
overflow:hidden;
padding:8px 0 0 8px;
text-transform:uppercase;
}
.module h3 span {
color:#454545;
}
.module #h3-l {width: 100%; height: 25px; background: url(../images/h3-l.png) no-repeat top left;}
.module #h3-r {width: 100%; height: 25px; background: url(../images/h3-r.png) no-repeat top right;}

.module #mid {background: url(../images/mid.png) repeat-x center bottom;border: 1px solid #f2f2f2;}
.module #h3-mid {background: url(../images/mid.png) repeat-x center bottom;border: 1px solid #f2f2f2;border-top:0;}
.module ul {
	list-style: none;
	padding:0;
}
.module li {
	font-size: 14px;
}
.module li a:link, .module li a:visited {
	padding: 6px 10px;
	border-bottom: 1px solid #ccc;
	margin: 0 -10px;
	color: #363636;
	text-decoration: none;
	display: block;

}
.module li a:hover , .module li.active a {
	text-decoration: none;
	color: #404040;
}

.module_menu .inside{padding: 5px 10px 5px 10px;}
.module_menu h3 {
display:block;
font-size:13px;
color:#59B5EB;
margin:0 0 0 0;
overflow:hidden;
padding:8px 0 0 8px;
text-transform:uppercase;
}
.module_menu h3 span {
color:#454545;
}
.module_menu #h3-l {width: 100%; height: 25px; background: url(../images/h3-l.png) no-repeat top left;}
.module_menu #h3-r {width: 100%; height: 25px; background: url(../images/h3-r.png) no-repeat top right;}

.module_menu #mid {background: url(../images/mid.png) repeat-x center bottom;border: 1px solid #f2f2f2;}
.module_menu #h3-mid {background: url(../images/mid.png) repeat-x center bottom;border: 1px solid #f2f2f2;border-top:0;}
.module_menu ul {
	list-style: none;
	padding:0;
}
.module_menu li {
	font-size: 14px;
}
.module_menu li a:link, .module_menu li a:visited {
	padding: 6px 10px;
	border-top: 1px solid #f0f0f0;
	margin: 0 -10px;
	background: #f7f7f7;
	color: #363636;
	text-decoration: none;
	display: block;

}
.module_menu li a:hover , .module_menu li.active a {
	background: #F3f3f3;
	text-decoration: none;
	color: #404040;
}

.module_menu ul ul li a:link, .module_menu ul ul li a:visited {
	padding: 6px 10px 6px 20px;
	background: #f7f7f7 url(../images/bullet.gif) no-repeat 1% 50%;


}
.module_menu ul ul ul li a:link, .module_menu ul ul ul li a:visited {
	padding: 6px 10px 6px 30px;
	background: #f7f7f7 url(../images/bullet.gif) no-repeat 4% 50%;

}
.module_menu ul ul li a:hover , .module_menu ul ul li.active a {
	background: #F3f3f3 url(../images/bullet.gif) no-repeat 1% 50%;
	color: #404040;
}.module_menu ul ul ul li a:hover , .module_menu ul ul ul li.active a {
	background: #F3f3f3 url(../images/bullet.gif) no-repeat 4% 50%;
	color: #404040;
}


